{% extends "hub/menu_base.html" %}

{% block baseheader %}

<style type="text/css">

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table td, table th {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

</style>

{% endblock %}


{% block basebody %}

	<h1> Importar Dades GESTIB</h1>

	{% if finished %}

	<table border="1">
		<tr> <td> Núm. profes importats: </td> <td> {{ nprofs}} </td> </tr>
		<tr> <td> Alumnes: </td> <td> {{ nalumnes }} </td> </tr>
		<tr> <td> Cursos: </td> <td> {{ ncursos }} </td> </tr>
		<tr> <td> Grups: </td> <td> {{ ngrups }} </td> </tr>
		<tr> <td> Incidències: </td> <td>
            <ul>
            {% for i in incidencies %}
            <li> {{ i }} </li>
            {% endfor %}
            </ul>
            </td>
            </tr>
		<tr> <td> Matrícules: </td> <td> {{ nmats }} </td> </tr>
        <tr> <td> Submatèries: </td> <td> {{ nsubs }} </td> </tr>
        <tr> <td> Submatèries-grup: </td> <td> {{ nsubmatgrup }} </td> </tr>
	</table>

	{% else %}

		<form method="post" enctype="multipart/form-data" id="form" action="/gestib/import/">

            <table border="1">
                {{ form.as_table }}
            </table>

        {% csrf_token %}
		<input type="submit" class="submit">

		</form>

	{% endif %}


{% endblock %}
