<html>

<head>

<script type="text/javascript" language="JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js">
</script>

<script type="text/javascript" language="JavaScript">

</script>


</head>



<body>
<h1> Importar Alumnes (xml del gestib)</h1>

{% if ok %}

	

{% else %}

	<form method="post" enctype="multipart/form-data" id="form" action="/gestib/doimport/">

	<input type="file" name="file">
	<br><br>
	<input type="submit" class="submit">

	</form>

{% endif %}

</body>
</html>
