{% extends "hub/menu_base.html" %}

{% block baseheader %}
{% endblock %}


{% block basebody %}

	<h1> Importar Dades GESTIB</h1>

	{% if finished %}

	<table border="1">
		<tr> <td> Núm. profes importats: </td> <td> {{ nprofs}} </td> </tr>
		<tr> <td> Alumnes: </td> <td> {{ nalumnes }} </td> </tr>
		<tr> <td> Cursos: </td> <td> {{ ncursos }} </td> </tr>
		<tr> <td> Grups: </td> <td> {{ ngrups }} </td> </tr>
		<tr> <td> Matrícules: </td> <td> {{ nmats }} </td> </tr>
	</table>

	{% else %}

		<form method="post" enctype="multipart/form-data" id="form" action="/gestib/import/">

            <table border="1">
                {{ form.as_table }}
            </table>

		<input type="submit" class="submit">

		</form>

	{% endif %}


{% endblock %}
